<div class="box padded">
<div class="wrapper">
<!-- MAIN BODY HERE -->
<!-- #BEGIN Addon Page Body Content -->
<div class="row head_message">
    <!-- put head titles etc here -->
        <h1>{{ name }}</h1>
        <hr>
</div>
<!-- end head message -->
<script type="text/JavaScript">
$(document).ready(function(){
    var categories = 'down';
    var industry = 'up';
    // add for categories
    $('#categories').click(function(){
        if(categories == 'up') {
            $('#cat_toggle').src = '/addons/static/img/Down_24x24.png';
            categories = 'down';
        } else {
            $('#cat_toggle').src = '/addons/static/img/Up_24x24.png';
            categories = 'up';
        }
    })
});
</script>
 <div class="row-fluid">
        {{> main-sidebar }}

        <div class="span8">

<div class="span12">
  <p class="lead">{{ lead }}</p>
<div class="span12 devRibbon">
    <div class="span4 devDetails">
        <p class="devName">From: <a href="/addons/developer/{{ id }}/{{ slug }}/"><strong>{{ developerName }}</strong></a></p>
              <p><a href="{{ website }}">» Website</a></p>
        {{#with socialBadges }}
        <div class="socialBadges">
          {{#if this.blog }}
            <a href="{{ this.blog }}"><img alt="Read {{ ../../name }}'s blog" data-toggle="tooltip" src="/addons/static/img/blog.png" title="" data-original-title="Read {{ ../../name }}'s blog"></a>&nbsp;
          {{/if}}
          {{#if this.facebook }}
            <a href="{{ this.facebook }}"><img src="/addons/static/img/facebook.png" data-toggle="tooltip" alt="{{ ../../name }} on Facebook" title="{{ ../../name }} on Facebook"></a>&nbsp;
          {{/if}}
          {{#if this.twitter }}
            <a href="{{ this.twitter }}"><img alt="{{ ../../name }} on Twitter" data-toggle="tooltip" src="/addons/static/img/twitter.png" title="" data-original-title="{{ ../../name }} on Twitter"></a>
          {{/if}}
        </div>
        {{/with}}

    </div>
    <div class="span4 certDetails">
    </div>
    <div class="span4 worksWith">
        <p>Works with these products</p>
            {{#with worksWithARC}}
            <a href="/addons/workswith/myob-accountright-classic/">
                <img src="/addons/media/workswith_icons/arc_2.png" alt="AccountRight Classic" class="workswith_legend" data-toggle="tooltip" title="AccountRight Classic" style="border: 1px solid #ccc; height: 24px; width: 24px; cursor: pointer;">
            </a>
            {{/with}}
            {{#with worksWithARL}}
            <a href="/addons/workswith/accountright-live/">
                <img src="/addons/media/workswith_icons/arl_2.png" alt="AccountRight Live" class="workswith_legend" data-toggle="tooltip" title="AccountRight Live" style="border: 1px solid #ccc; height: 24px; width: 24px; cursor: pointer;">
            </a>
            {{/with}}
    </div>
</div>
  {{#with carousel}}
  <div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <style type="text/css">
    .carousel-inner .item { 
      height: 290px;
      min-height: 290px;
      max-height: 290px;
      border-radius: 5px;
      background-color: rgba(249, 248, 251, 0.1);
    }
    .carousel-inner .item img {
      width: 515px;
      border-radius: 5px;
      margin: auto;
      top: 0;
      bottom: 0;
    }
  </style>
  <script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: false
    });
  });
</script>
  <script type="text/javascript">
  $(document).ready(function(){
      $('.worksWith img').mouseenter(function(){
          $(this).tooltip('show');
      }).mouseleave(function(){
          $(this).tooltip('hide');
      });
  });
  $(document).ready(function(){
      $('.devRibbon a img').mouseenter(function(){
          $(this).tooltip('show');
      }).mouseleave(function(){
          $(this).tooltip('hide');
      });
  });
  </script>
  <hr>
  <div class="carousel-inner">
      {{#each ../carousel }}
      <div class="{{#if this.active}}active{{/if}} item">
        {{#if this.img}}
          <img src="{{ this.img }}">
        {{/if}}
        {{#if this.iframe}}
          <iframe allowfullscreen="" frameborder="0" height="290" src="{{ this.iframe }}" width="515"></iframe>
        {{/if}}
      </div>
      {{else}}
      <!-- there ain't no carousel items -->
      {{/each}}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>
  {{/with}}
  <hr>
  <div class="description">
  <!-- description markdown -->

