---
title: Add-On Showcases
lead: Showcasing our Add-Ons
---

<div class="container">
		<h2>{{ title }}</h2>
		<p class="top">

Each month we sit down with 2 or 3 of our add-on developers and we talk through with them the key business pain points that their solution helps solve. We talk about how it integrates with MYOB and we unpack what's in it for our MYOB partners.
    </p>
		<p class="top">

Below you'll find an archive of the show case videos we've compiled so far.

    </p>
</div>

<div class="container">

    {{#each pages}}
    {{#isnt basename 'index' }}
		<div class="showcase-item">
			<div class="video-thumbnail">

				<a href="{{data.session}}/{{basename}}/"><img src="{{ data.thumbnail }}"></a>
			</div>
			<h4>{{ data.title }}</h4>
			<p class="snippet">{{ data.lead }}</p>
			<div class="button">
				<a class="btn btn-default" href="{{data.session}}/{{basename}}/">Watch now</a>
			</div>
		</div>
    {{/isnt}}
    {{/each}}

</div>
